### 1. 람다함수

* 단일문으로 표현되는 익명의 함수
* 익명함수한 이름이 없는 구현체지만 존재하는 간단한 함수를 의미
* 코드 상에서 한번만 사용되는 기능이 있을 때 함수로 작성하지 않고 1회성으로 만들어서 사용

In [2]:
def square(x):
    return x**2

In [3]:
square(5)

25

In [4]:
square2 = lambda x:x**2

In [5]:
square2(6)

36

In [6]:
type(square2)

function

In [7]:
def  add(x, y):
    return x+y

In [8]:
add2 = lambda x,y:x+y

In [9]:
add2(5,10)

15

In [10]:
strings =["bob", "charles", "alexander3", "teddy"]
strings.sort()
strings

['alexander3', 'bob', 'charles', 'teddy']

In [11]:
# sort 기준 : 문자 길이가 짧은 순서
def str_len(s):
    return len(s)

strings.sort(key=str_len)
strings

['bob', 'teddy', 'charles', 'alexander3']

In [12]:
strings =["bob", "charles", "alexander3", "teddy"]
strings.sort(key=lambda s:len(s))
strings

['bob', 'teddy', 'charles', 'alexander3']

### filter, map, reduce
* lambda 가 유용하게 사용되는 3가지 대표적인 함수
* 함수형 프로그래밍의 기본 요소
* filter : 각 원소를 주어진 수식에 따라 변형하여 새로운 리스트 반환
    - filter(함수 ,반복 가능한 데이터)
* map : 각 원소를 주어진 수식에 따라 변형하여 새로운 리스트로 반환

In [15]:
#  리스트에서 짝수만 추출해서 새로운 리스트로 생성
list1 = [1,2,3,6,8,9]
# 리스트 컴프리핸션
print([x for x in list1 if x% 2 ==0])

[2, 6, 8]

In [16]:
even_list = []

for i in list1:
    if i % 2 ==0:
        even_list.append(i)

even_list

[2, 6, 8]

In [18]:
def even(x):
    return x%2 ==0

In [20]:
nums = [1,2,3,6,8,9]
print(list(filter(even, nums)))

list(filter(lambda n:n%2==0, nums))

[2, 6, 8]

[2, 6, 8]

In [21]:
def mul(x):
    return x** 2
numbers = [1,2,3,6,8,10,11,12,13,14,15]
list(map(mul, numbers))

[1, 4, 9, 36, 64, 100, 121, 144, 169, 196, 225]

In [22]:
list(map(lambda x:x**2, numbers))

[1, 4, 9, 36, 64, 100, 121, 144, 169, 196, 225]

In [23]:
list2 = [1,2,3,4]

# [2 ,4,6,8]

list(map(lambda x:x*2, list2))

[2, 4, 6, 8]

In [26]:
# nums = [1,2,3,4,5,6,7,8,9,10]
nums = list(range(1,11))
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
# 3의 배수만 문자열로 변경해서 3로운 리스트 생성
list2 = []
def str_check(arr):
    for i in arr:
        if i % 3 ==0:
            list2.append(str(i))
        else:
            list2.append(i)

str_check(nums)

nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
list(map(lambda i:str(i) if i %3 ==0 else i , nums))

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]